---
import { any, string } from "astro/zod";

export interface Props {
    Basbool?: boolean,
    MedBool?: boolean,
    AvaBool?: boolean
}
let Basbool = false;
import Basic from "../config/basicPlan.json";

---


<section class="Plantillas-container">
    <div class="choose">
        <h3>Descubre cual es para vos</h3>
        <div class="prices">
            <span id="uno">300 mil</span>
            <span id="dos">500 mil</span>
            <span id="tres">1 Millón</span>
        </div>
        <div class="linea-precios"></div>
    </div>
    <div class="presentacion">
        <div class="pres-text">
            {
                Basbool && Basic.map(
                    (basico)=>(
                    <h4>{basico.title}</h4>
                    <span>{basico.subtitle}</span>
                    <li>{basico.caracteristica1}</li>
                    <li>{basico.caracteristica2}</li>
                    <li>{basico.caracteristica3}</li>
                )
                )
            }
            <!-- <h4>Vista minimalista.</h4>
            <span>Céntrate en el mensaje o la promoción</span>
            <ul>
                <li>Mayor asequibilidad.</li>
                <li>Enfocado en campañas de marketing.</li>
                <li>Perfecto para descripciones breves, formularios y suscripciones.</li>
            </ul> -->
        </div>
        <figure><img src="./img/landings/landing-300-1.svg" alt="Página web"></figure>
        <figure><img src="./img/landings/landing-300-1.svg" alt="Página web"></figure>
        <figure><img src="./img/landings/landing-300-1.svg" alt="Página web"></figure>
        <figure><img src="./img/landings/landing-300-1.svg" alt="Página web"></figure>
        <figure><img src="./img/landings/landing-300-1.svg" alt="Página web"></figure>
    </div>
</section>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style:disc;
    }
    .plantillas-container{
        width: 93rem;
        margin: auto;
        color: #1C1C1C;
    }
    .choose{
        text-align: center;
    }
    .choose h3{
        font-size: 2.6rem;
    }
    .prices{
        margin-top: 7vh;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        gap: 20rem;
    }
    .prices span{
        margin-bottom: 10vh;
        border-bottom:#1C1C1C solid 2px; 
    }
    .linea-precios{
        width: 80rem;
        margin: auto; 
        border: #1C1C1C solid 1px;
        height: 1px;
    }
    .presentacion{
        width: 70rem;
        margin: 5vh auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
        justify-items: center;
    }
    .pres-text h4{
        color: #1C1C1C;
        font-size: 2rem;
        font-weight: 500;
    }
    .pres-text>*{
        margin: 2rem 0;
    }
    .pres-text ul{
        margin-left: 2rem;
    }
    .pres-text ul > *{
        margin: 1vh 0;
    }
</style>
<script>
   const texto = document.querySelector(".pres-text") as HTMLDivElement;
   const presentacion = document.querySelector(".presentacion") as HTMLDivElement;

import basic from "../config/basicPlan.json";
const btnBas = document.getElementById("uno") as HTMLSpanElement; 
const btnMed = document.getElementById("dos") as HTMLSpanElement; 
const btnAv = document.getElementById("tres") as HTMLSpanElement;
   
   btnBas.addEventListener("click", ()=>{
    
    alert("Basbool")
    // Basbool.value = true;
    
    // basic.map((plan)=>{

    //     texto.innerHTML = `
    //             <h4>${plan.title}</h4>
    //             <span>${plan.subtitle}</span>
    //             <ul>
    //             <li>${plan.caracteristica1}</li>
    //             <li>${plan.caracteristica2}</li>
    //             <li>${plan.caracteristica3}</li>
    //             </ul>
    //             `
    //         })
        })
</script>